@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body {
    position: relative;
    background: #fdfdfd;
}
body {
    font-family: "Inter", sans-serif;
    color: #364153;
}
.testFont {
    font-family: "JetBrains Mono", monospace;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 700 !important;
    font-style: normal;
    margin: 8px 0 0px 0 !important;
    color: #6a7282 !important;
}
.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
@media (min-width: 1400px) {
    .container {
        max-width: 1440px;
    }
}
.flex {
    display: flex;
}
.flex-d-col {
    flex-direction: column;
}
.flex-d-row {
    flex-direction: row;
}

.f-16 {
    font-size: 1rem;
    line-height: 1.5rem;
}
.f-14 {
    font-size: .875rem;
    line-height: 1.25rem;
}
.f-12 {
    font-size: .75rem;
    line-height: 1rem;
}
.f-semibold {
    font-weight: 500;
}

.me-auto {
    margin-inline-end: auto;
}
.bt {
    border-top: 1px solid #ebebeb;
}
.br {
    border-right: 1px solid #ebebeb;
}
.bl {
    border-left: 1px solid #ebebeb;
}
.bb {
    border-bottom: 1px solid #ebebeb;
}
.jc-space-between {
    justify-content: space-between;
}

header {
    position: sticky;
    top: 0;
    height: 64px;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0 8px 30px 0 rgb(0, 0, 0, .02);
    z-index: 1;
}
nav {
    background-color: #fdfdfd;
    height: 100%;
    align-items: center;
    padding: 0 1.5rem;
    gap: 1rem;
}
aside {
    width: 256px;
    flex-shrink: 0;
}
.menu {
    position: sticky;
    top: 64px;
    height: calc(100vh - 64px);
    padding: 32px 24px 24px 24px;
}
.listItem {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menuItem {
    align-items: center;
    height: 24px;
    margin: 8px 0;
    gap: 8px;
}
.menuItem:hover {
    color: #000;
    cursor: pointer;
}
.subMenu {
    margin-top: 12px;
    border-left: 1px solid #ebebeb;
}
.tocItem {
    padding: 6px 0;
}
.tocItem a:hover {
    color: #000;
    cursor: pointer;
}
.content {
    flex-grow: 1;
    width: 100%;
    min-height: calc(100vh - 64px);
    padding: 32px 40px 60px;
}
.content a {
    font-weight: 500;
    color: #030712;
    text-underline-offset: 3px;
    text-decoration: underline;
    text-decoration-color: #2d81e0;
    text-decoration-thickness: 1px;
}
.content a:hover {
    text-decoration-thickness: 2px;
}
.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    margin-top: 56px;
    border-top: 1px solid #ebebeb;
}
.linkItem {
    display: flex;
    flex-direction: column;
}
.previousLink {
    align-items: flex-end;
}
.nextLink {
    align-items: flex-start;
    margin-left: auto;
}
.navLink {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2px;
    font-weight: 500;
    color:#000000;
}
.footnote {
    font-size: 12px;
}
.breadcrumbs {
    padding-bottom: 8px;
    display: flex;
    gap: 10;
    font-size: .875rem;
}
.feature-card {
    border: 1px solid #000;
    padding: 20px;
}
.active {
    background: red;
}
.overflowY {
    overflow-y: auto;
    height: calc(100svh - 16vh);
}