.navLinks {
    border-top: 1px solid #ebebeb;
    margin-top: 56px;
    padding-top: 24px;
}

.link:hover > div .name {
    color: #030711;
}

.link:hover > svg {
    color: #030711;
}

.footnote {
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.name {
    margin-top: 8px;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.625rem;
}
.name svg {
    display: none;
}