.navLinks {
    padding-top: 24px;
    margin-top: 56px;
    border-top: 1px solid #ebebeb;
}

.footnote {
    font-family: "JetBrains Mono", monospace;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.navLink {
    align-items: center;
    margin-top: 8px;
    font-weight: 500;
    color:#4a5565;
    gap: 8px;
}

.navLink:hover {
    color: #030711;
}