.navBar {
    list-style-type: none;
    gap: 2;
    margin: 0 24px;
}

.navBar a {
    display: flex;
    align-items: center;
    height: 36px;
    padding-right: 12px;
    padding-left: 12px;
    font-weight: 500;
}
.navBar a:hover {
    background-color: #f5f5f5;
    border-radius: 8px;
    color: hsla(224, 71%, 4%, 1);
}