.menu {
    position: sticky;
    top: 64px;
    height: calc(100vh - 64px);
    padding: 32px 24px 24px 24px;
}

.listItem {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.listItem > li:first-child {
    margin-bottom: .5rem;
}

.subMenu {
    margin-top: .75rem;
}

.li details:open svg {
    transform: rotate(-90deg);
}

.li details a {
    color: #4a5565;
    padding-left: 16px;
    border-left: 1px solid #ebebeb;
    margin-left: -1px;
}
.li details a::before {
    content: none !important;
}
.li details a:hover {
    border-left: 1px solid hsla(224, 72%, 4%, .25);
}

.catItem {
    align-items: center;
    height: 24px;
    gap: 8px;
    margin-top: .5rem;
    cursor: pointer;
}

.menuItem {
    align-items: center;
    height: 24px;
    margin: 8px 0;
}
.menuItem:hover {
    color: #030711;
}

.active a,
.active a svg {
    color: hsla(224, 71%, 4%, 1) !important;
    font-weight: 600;
    letter-spacing: .2px;
}

.li details .active a {
    border-left: 1px solid hsla(224, 72%, 4%, 1) !important;
}