.breadcrumbs {
    display: flex;
    padding-bottom: 8px;
    gap: 8;
}
.breadcrumbs span {
    display: flex;
    align-items: center;
    gap: 8;
}
.breadcrumbs a:hover {
    color: hsl(223, 70%, 4%);
}